* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

/* home page styles */

.home-header {
    position: absolute;
    width: 100%;
    height: 13vh;
}

@keyframes showNav {
    from {
        opacity: 0;
        transform: translate(20px, -10px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    padding-right: 5vw;
    animation: showNav 2s ease forwards;
}

button {
    font-size: 1.6em;
    border: none;
    background-color: transparent;
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    transition: transform 0.3s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#content {
    width: 100vw;
}

#home-page {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/plates.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes showHeader {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#hp-header {
    text-align: center;
    animation: showHeader 2s ease forwards;
}

#home-page h2 {
    font-size: 3em;
}

#home-page p {
    font-size: 2em;
}

/* menu page styles */

.body-menu-page {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10vh;
    height: max-content;
}

#header-menu-page {
    background: #000;
    width: 100%;
    height: 35vh;
    background-image: url('./images/plates.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

#menu-page {
    width: 80vw;
    margin: auto;
}

#menu-page > h2 {
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

#menu-page section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-page img {
    height: 40vh;
    width: auto;
    max-width: 80vw;
    border-radius: 10px;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.odd img {
    margin-left: 2vw;
}

.even img {
    margin-right: 2vw;
}

#menu-page img:hover {
    scale: 1.02;
}

#menu-page .text h4 {
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#menu-page .text p {
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* about page styles */

#about-page {
    width: 1200px;
    max-width: 85vw;
    margin: auto;
}

#about-page h2 {
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#about-page p {
    text-align: left;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

#about-page-introduction {
    margin-bottom: 5vh;
}

#about-page-introduction p {
    text-align: center;
    text-indent: 50px;
}

#about-page-contact-program-container {
    display: flex;
    justify-content: center;
    gap: 10vw;
}

#about-page-contact-program-container h3 {
    font-size: 1.4em;
    font-family: 'Eagle Lake', Arial, Helvetica, sans-serif;
    margin-bottom: 2px;
}

@media (max-width: 1000px) {
    #menu-page section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #menu-page section:nth-child(2n) {
        flex-direction: column-reverse;
    }

    #menu-page section:not(:first-of-type) {
        margin-top: 10vh;
    }

    #menu-page .text {
        width: 500px;
        max-width: 80vw;
    }

    
}

@media (max-width: 800px) {
    #about-page-contact-program-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        width: max-content;
        margin: auto;
        max-width: 85vw;
    }

    #about-page-contact-program-container h3 {
        text-align: center;
    }

    #about-page-contact-program-container p {
        text-align: center;
    }
}

@media (max-width: 500px) {
    nav {
        justify-content: center;
        padding-right: 0;
    }
    button {
        font-size: 1.4em;
    }

    #home-page h2 {
        font-size: 2.2em;
    }
    
    #home-page p {
        font-size: 1.8em;
    }

    #menu-page img {
        width: 80vw;
        height: auto;
    }
}